.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 75px);
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(115, 115, 115, 0.5)
  );
  overflow-y: scroll;
}

.leaderboardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 4rem;
  width: 100%;

  // Header for leaderboard items
  .leaderboardItem_header {
    display: grid;
    grid-template-columns: 2fr 3fr repeat(2, 1fr) repeat(2, 2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    font-size: 2rem;

    .leaderboardItem__rank_header {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      font-weight: 600;
      color: #9c0;
    }

    .leaderboardItem__user_header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      font-weight: 600;
      color: #9c0;
    }

    .leaderboardItem__questions_header {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 5 / 6;
      grid-row: 1 / 2;
      font-size: 2.5rem;
      font-weight: 600;
      color: #9c0;
    }

    .leaderboardItem__answers_header {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 6 / 7;
      grid-row: 1 / 2;
      font-size: 2.5rem;
      font-weight: 600;
      color: #9c0;
    }

    box-shadow: rgba(115, 115, 115, 0.5) 0px 2px 1px;
    background-color: #fafafa;
    font-size: 2.5rem;
    font-weight: 300;
    height: auto;
    border-bottom: 1px solid rgba(15, 15, 15, 0.35);
    margin-bottom: 1px;
    width: 100%;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
  }

  // Regular item in leaderboard
  .leaderboardItem {
    display: grid;
    grid-template-columns: 2fr 3fr repeat(2, 1fr) repeat(2, 2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 5px;

    .leaderboardItem__rank {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      font-size: 2.5rem;
      font-weight: 300;
    }

    .leaderboardItem__user {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      font-size: 2.5rem;
      font-weight: 300;

      .leaderboardItem__user__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        margin-right: 1rem;
      }
    }

    .leaderboardItem__questions {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 5 / 6;
      grid-row: 1 / 2;
      font-size: 2.5rem;
      font-weight: 300;
      color: #9c0;
    }

    .leaderboardItem__answers {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 6 / 7;
      grid-row: 1 / 2;
      font-size: 2.5rem;
      font-weight: 300;
      color: #9c0;
    }

    box-shadow: rgba(115, 115, 115, 0.5) 0px 2px 1px;
    background-color: #fafafa;
    font-size: 2.5rem;
    font-weight: 300;
    height: auto;
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    transition: all 0.3s ease-in-out;
  }
}

//  User section
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 300;
  width: 100%;
  transition: all 0.3s ease-in-out;

  .userAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px 50px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}

// User stats
.userQuestions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #9c0;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 1rem;
  margin: 5px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.userAnswers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #9c0;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 1rem;
  margin: 5px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.champion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 300;
  width: 200px;
  transition: all 0.3s ease-in-out;

  .championTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #9c0;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  .championAvatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: 5px 50px;

    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
    }
  }
}

.loader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: calc(100vh - 75px);
  text-decoration: none;
  color: #000;
  font-size: 3.5rem;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
